*,
*::after,
*::before {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.hero {
  height: calc(100vh - 56px - 96px);
}

@media (max-width: 768px) {
  img {
    width: 90% !important; /* Más ancho en tablets */
    margin: 0 auto;
  }
  /* Otros estilos para tablets */
}

img {
  width: 50%;
  object-fit: cover;
}
